<div style="margin:auto;font-size: large;">
  <kendo-tabstrip>
    <kendo-tabstrip-tab title="Welcome" [selected]="true">
      <ng-template kendoTabContent>
        <h4>Welcome to Jenn's super awesome magical code camp talk!</h4>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Blazor Component">
      <ng-template kendoTabContent>
        <simple-component></simple-component>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Parameters 1">
      <ng-template kendoTabContent>
        <basic-parameters volunteer-name="Jiji"></basic-parameters>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Parameters 2">
      <ng-template kendoTabContent>
        <app-mad-libs></app-mad-libs>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Parameters 3">
      <ng-template kendoTabContent>
        <app-js-parameters></app-js-parameters>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>



<router-outlet></router-outlet>

